.firstBlock {
    background: rgba(128, 115, 131, 0.705);
    width: 440px;
    height: 1360px;
}

h1, h3, h5, p, audio {
    position: relative;
}


#main-heading {
    top: 15px;
    font-style: italic;
    color: rgb(5, 54, 30);
    text-decoration-color: rgb(165, 48, 157);
    text-decoration-line: underline;
}

#secondary-heading {
    top: -1px;
    font-style: oblique;
    font-size: 15px;
}

p {
    top: 5px;
}

strong {
    color: rgb(116, 11, 107);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h3, p, h5 {
    left: 45px;
}

audio {
    top: 23px;
    left: 27px;
    width: 380px;
}

h5 {
    top: 30px;
}




